
@{
    ViewData["Title"] = "EventWindow";
}

<h1>EventWindow</h1>

@*<a class="navbar-brand" asp-area="" asp-controller="Event" asp-action="EventForm">Edit event</a>*@
@{string id = ViewData["id"] as string;}
<h5>@id</h5>
<a asp-action="SubmitParticipation" asp-route-id="@id">Participate</a>
<a asp-action="CancelParticipation" asp-route-id="@id">Cancel participation</a>
<a asp-action="EventForm" asp-route-id="@id">edit</a>
<a asp-action="cancelEvent" asp-route-id="@id">cancel</a>

<ul class="list-group list-group-flush">

    @foreach (string message in ViewData["messages"] as IList<string>)
    {
        <li class="list-group-item">@message</li>
    }

</ul>

<form asp-action="submitMessage">
    <input type="text" name="message" />
    <input type="submit" value="Send" class="btn btn-default" />
</form>

