@model IEnumerable<SportBook.Models.Event>

    @{
    ViewData["Title"] = "EventList";
    }
    <h2>Event list</h2>

    @*<button type="button" class="btn btn-dark">Create an event</button>*@
    <a class="navbar-brand" asp-area="" asp-controller="Event" asp-action="EventForm">Create an event</a>
    <p />

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.EventName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Type)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StartTime)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                if (item.IsDeleted==false)
                {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EventName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartTime)
                </td>
                <td>
                    <a asp-action="EventWindow" asp-route-id="@item.EventId" asp-route-EventName="@item.EventName">Details</a>
                </td>
            </tr>
                }
            
            }
        </tbody>
    </table>

