@model IEnumerable<SportBook.Models.Message>
@{
    ViewData["Title"] = "EventWindow";
}

<h1>EventWindow</h1>

@*<a class="navbar-brand" asp-area="" asp-controller="Event" asp-action="EventForm">Edit event</a>*@
@{string id = ViewData["id"] as string;}
@{string test = ViewData["eventname"] as string;}

<h5>@id</h5>
<h5>@test</h5>
<a asp-action="SubmitParticipation" asp-route-id="@id">Participate</a>
<a asp-action="CancelParticipation" asp-route-id="@id">Cancel participation</a>
<a asp-action="EventForm" asp-route-id="@id">edit</a>
<a asp-action="CancelEvent" asp-route-id="@id">cancel</a>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Text)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            if (item.EventId == int.Parse(@id))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Text)
                    </td>

                </tr>
            }
        }
    </tbody>
</table>

<form asp-action="submitMessage" asp-route-id="@id">
    <input type="text" name="message" />
    <input type="submit" value="Send" class="btn btn-default" />
</form>

